html { padding: 0; margin: 0; }

body { padding: 0; margin: 0;
       font-size: 10pt; font-family: Microsoft sans-serif, sans-serif, helvetica;
       text-align: center;
       color: #222;
       letter-spacing: 1px;
       line-height: 12pt;
       position: relative; 
       background: url(scissors.jpg) center 30px black;
}

h1 { padding-top: 30px; font-size: 2.0em; color: #222; }

h1.top { margin-top: -10px; }

h2 { margin-top: 25px; color: #222; }

p {
  font-size: 1em;
  line-height: 15pt;
  text-align: justify;
}

ul {
  line-height: 16pt;
}

img {
  border: none;
}

pre {
  padding: 10px 5px 10px 10px;
  font-size: 0.9em;
  background-color: #eee;
  /* color: #FF0055; */
  font-weight: bold;
  width: 98%;
  color: #222;
}

a { text-decoration: none; color: #222; font-weight: bold; }
a:hover { text-decoration: underline; }

pre.script { background-color: #DDFFDD; color: black; }

#container {
  vertical-align: top;
  width: 750px;
  margin: 0 auto;
  margin-top: 0;
}

#header {
  height: 90px;
  margin-left: 0;
  margin-right: 20px;
  padding: 20px;
  text-align: left;
}

#header .title {
  font: bold 56pt sans-serif;
  color: #ee9900;
  letter-spacing: 17pt;
  padding: 0;
  margin-left: -20px;
  text-shadow: 2px 2px #644;
}

.menu {
  height: 90px;
  font-weight: bold;
  text-align: right;
  padding: 20px 10px 0 0;
  line-height: 42px;
  color: #ee9900;
  float: right;
}

.menu a {
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.menu a:hover {
  color: #ee9900;
  text-decoration: underline;
}

#sidebar {
  width: 200px;
  padding: 20px;
  background: #ffffff;
  text-align: left;
  border-left: 3px solid #555555;
  text-align: center;
  position: relative;
}

#footer {
  margin-top: 30px;
}

.text {
  text-align: left;
  background: white;
  border: 1px solid #ee9900;
  padding: 0 30px 20px 30px;
  opacity: 0.7;
}

.intro {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 20pt;
}

.date {
  float:right; color:pink; margin: 0;
}

.copyright {
  height: 72px;
  text-align: left;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  border-top: 2px solid white;
  margin-top: 20px;
}

.copyright a {
  color: white;
}

.important {
  color: red;
}

.tiger {
  text-align: center;
  margin-bottom: 30px;
}

.rev {
  font-size: 10pt;
  padding-left: 15px;
}

p.top {
  font-weight: bold;
}
