
body { padding: 0; margin: 0;
       background: #ffffff;
       font-size: 11pt; font-family: Microsoft sans-serif, sans-serif, helvetica;
       text-align: center;
       color: #222;
       letter-spacing: 1px;
       line-height: 14pt;
       position: relative; 
}

h1 { padding-top: 30px; font-size: 2.5em; color: red; }

h1.top { margin-top: -10px; }

h2 { margin-top: 25px; color: red; }

p {
  font-size: 1em;
  line-height: 15pt;
  text-align: justify;
}

ul {
  line-height: 16pt;
}

img {
  border: none;
}

pre {
  padding: 5px 10px 20px 10px;
  font-size: 0.9em;
  background-color: #222222;
  /* color: #FF0055; */
  font-weight: bold;
  width: 98%;
  color: white;
}

a { text-decoration: none; color: #ff0000; font-weight: bold; font-size: 1.1em; }
a:hover { text-decoration: underline; }

pre.script { background-color: #DDFFDD; color: black; }

#container {
  vertical-align: top;
  width: 750px;
  margin: 0 auto;
}

.logo {
  height: 90px;
  margin-left: 0;
  margin-right: 20px;
  padding: 20px;
  text-align: left;
}

.title {
  font: bold 52pt sans-serif;
  color: red;
  letter-spacing: 17pt;
  padding-left: 15px;
}

.menu {
  background: #ffffff;
  height: 90px;
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  padding: 20px 10px 0 0;
  line-height: 42px;
  color: red;
  float: right;
}

.menu a {
  color: red;
  text-decoration: none;
  padding: 5px;
}

.menu a:hover {
  color: #ffff00;
  text-decoration: underline;
}

#sidebar {
  width: 200px;
  padding: 20px;
  background: #ffffff;
  text-align: left;
  border-left: 3px solid #555555;
  text-align: center;
  position: relative;
}

.adframe {
  width: 200px;
  height: 1600px;
  padding: 0;
  border: none;
  background: white;
  position: absolute;
  right: 20; top: 10;
}

.text {
  text-align: left;
  background: white;
  border: 1px solid #ff0000;
  padding: 0 30px 20px 30px;
}

.intro {
  font-weight: normal;
  font-size: 1.4em;
  line-height: 20pt;
}

.date {
  float:right; color:pink; margin: 0;
}

.copyright {
  height: 72px;
  text-align: left;
  color: pink;
  font-size: 0.8em;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  border-top: 2px solid white;
}

.copyright a {
  color: pink;
}

.important {
  color: red;
}

.tiger {
  text-align: center;
  margin-bottom: 30px;
}

.rev {
  font-size: 10pt;
  padding-left: 15px;
}

p.top {
  font-weight: bold;
}
